<table>
    <th>name</th>
    <th>photo profile</th>
    <th>age</th>
    <th>phone number</th>
    <% users.map((user)=> { %>
        <tr>
            <td>
                <%= user.firstName %>
            </td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        </tr>
        <%})%>

</table>